<div class="relative ">
  <!-- BACKGROUND -->
  <div class=" bg-sky-500 min-h-screen absolute top-0 w-full -z-10"></div>

  <div class="max-w-7xl mx-auto px-4 flex flex-col text-white">

    <!-- HERO CONTENT -->
    <div
      class="flex flex-col md:flex-row gap-10 py-20 items-start md:items-center"
    >
      <!-- LEFT: TITLE -->
      <div class="w-full md:w-3/5">
        <h1
          class="text-3xl md:text-5xl font-bold leading-tight md:w-[90%]"
        >
          {{ title }}
          <br />
          @if(titlePlus){
            {{ titlePlus }}
          }
        </h1>
      </div>

      <!-- RIGHT: DESCRIPTION + BUTTONS -->
      <div class="w-full md:w-2/5 space-y-6">
        <p class="text-base md:text-lg text-gray-200">
          {{ text }}
        </p>

        <div class="flex flex-col sm:flex-row gap-4">
          <button
            class="bg-white text-slate-800 font-semibold py-3 px-6 rounded-lg
                   hover:bg-gray-700 hover:border hover:border-white hover:text-white transition"
          >
            {{ btnName }}
          </button>

          @if(nextBtn){
          <button
            class="border border-white text-white font-semibold py-3 px-6 rounded-lg
                   hover:bg-white hover:text-slate-800 transition"
          >
            Login
          </button>
          }
        </div>
      </div>
    </div>

    <!-- CAROUSEL -->
    @defer (on viewport) {
      <div
        class="w-full bg-amber-50 rounded-xl overflow-hidden flex justify-center items-center"
      >
        <img
          src="{{ imgsrc }}"
          alt="home-showcase-gif"
          class="w-full h-auto object-cover"
        />
      </div>
    } @placeholder(minimum 500ms) {
      <p></p>
    }

  </div>
</div>

