@defer (on viewport) {
<div class="w-full flex justify-center items-center min-h-screen my-10 lg:my-20 animation1 ">
  <div
    class="w-full lg:w-4/5 min-h-[70vh] rounded-xl  box-border p-4 lg:p-5
           flex flex-col lg:flex-row gap-6 bg-gray-200 "
  >

    <!-- LEFT -->
    <div class="w-full lg:w-1/2 flex flex-col gap-3 items-center lg:items-start">
      @for (item of arr(); track item.id) {
      <div
        class="w-full sm:w-[95%] lg:w-[90%]
                p-4 py-5 rounded-xl
               flex gap-3 bg-amber-200 cursor-pointer transition hover:shadow-md"
        (click)="setActive(item.id)"
      >

        <mat-icon
          class="text-2xl text-blue-500 mt-1"
          [fontIcon]="item.iconName">
        </mat-icon>

        <div class="flex flex-col gap-1">
          <h4 class="text-lg lg:text-xl font-bold">
            {{ item.title }}
          </h4>

          @if (item.active) {
          <p class="text-gray-400 text-sm lg:text-base">
            {{ item.text }}
          </p>
          <a href="#" class="text-sm text-blue-500">
            this is here &gt;
          </a>
          }
        </div>

      </div>
      }
    </div>

    <!-- RIGHT -->
    <div class="w-full lg:w-1/2 overflow-hidden flex justify-center items-center">
      <img
        [src]="img()"
        class="w-full h-64 sm:h-80 lg:h-full object-cover rounded-xl"
      />
    </div>

  </div>
</div>
}
@placeholder {
<div class="min-h-screen"></div>
}
