.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 50px 0px;
}

.carousel-card {
  
  width: 300px;
  height: 150px;
}

.carousel-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}