/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@use 'tailwindcss';
/* Scroll bo‘lganda header */
.color_web {
  background-color: #081257; /* asosiy sariq */
 
}

/* Scroll bo‘lmaganda header */
.color_web_2 {
  background-color: #0813576a; /* yengil sariq */
                             /* oq text */
}


.component_color{
  background-color: #FD4C12; /* asosiy sariq */
}